<?xml version="1.0" encoding="UTF-8"?>
<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0">
  <mirrors>
    <!-- Redirect all http repos to Maven Central HTTPS to fix Maven 3.8 HTTP blocking -->
    <mirror>
      <id>no-http</id>
      <mirrorOf>external:http:*</mirrorOf>
      <url>https://repo1.maven.org/maven2</url>
      <blocked>false</blocked>
    </mirror>
  </mirrors>
</settings>
